{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rizocheminternational</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="#" class="js-logo-clone"><img src="{% static 'images/RIZO-CHEM.png' %}"></a>
              
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="#">Home</a></li>

                <li class="has-children">
                  <a href="#">Products</a>
                  <ul class="dropdown">
                    <li><a href="pages/allopathic">Allopathic Medicine</a></li>
                    <li><a href="pages/ayurvedic">Ayurvedic Medicine</a></li>
                    <li><a href="pages/pharmacy">Pharmacy</a></li>
                    <li><a href="pages/disposals">Disposables</a></li>
                    <li><a href="pages/surgicals">Surgicals</a></li>
                    <li><a href="pages/neu">Nutraceuticals</a></li>
                    <li><a href="pages/resp">Respiratory Solutions</a></li>
                    <li class="has-children">
                      <a href="#">ORTHOPAEDIC SOFT GOODS & REHABILITATION AIDS</a>
                      <ul class="dropdown">

                        <li><a href="pages/neo">Neoprene Products</a></li>
                        <li><a href="pages/belt">Body Belts and Support</a></li>
                        <li><a href="pages/cerv">Cervical Aids</a></li>
                        <li><a href="pages/frac">Fracture Aids</a></li>
                        <li><a href="pages/knee">Knee and Ankle Support</a></li>
                        <li><a href="pages/fing">Finger and Thumb Splint</a></li>
                        <li><a href="pages/trac">Traction Kit</a></li>
                        <li><a href="pages/wri">Wrist and Forearm Products</a></li>
                        <li><a href="pages/app">Allplied Products</a></li>
                        <li><a href="pages/gel">Gel and Silicon Products</a></li>
                        <li><a href="#">3D Sporty Kneep Cap</a></li>

                      </ul>
                    </li>
                    <li><a href="pages/diag">Diagnostic</a></li>
                    <li><a href="pages/cath">Catheter/Canula</a></li>
                    <li><a href="pages/fluid">IV Fluids</a></li>
                    <li><a href="#">Cosmatic</a></li>
                    <li><a href="#">Anti Cancer Drugs</a></li>
                    <li><a href="#">Hormonal Drugs</a></li>
                    <li><a href="#">Herbal Drugs</a></li>

                  </ul>
                </li>
                <li><a href="about">About</a></li>
                <li><a href="query/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h1>Welcome To Rizochem international</h1>
              <h2 class="sub-title">A pharmaceutical</h2>
              
              <p>
                <a href="about" class="btn btn-primary px-5 py-3">About Us</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap  h-100">
              <a href="#" class="h-100">
                <i class='fas fa-hand-holding-medical' style='font-size:48px;color:black'></i>
                <h5>
                  <strong>All products at Rizochem international are recommended by WHO</strong>
                </h5>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100" style="background-color:#333333;">
              <a href="#" class="h-100">
                <img src="{% static 'images/covid1.jpg' %}">
               
                <h5>
                  <strong>All Covid-19 preventions are available</strong>
                </h5>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-warning h-100">
              <a href="#" class="h-100">
                <i class='fas fa-shipping-fast' style='font-size:48px;color: black'></i>
                <h5>
                  
                  <strong>Shipping and Cargo arrangements are available 24/7 even during covid-19 emergency </strong>
                </h5>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
           
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 no-direction owl-carousel">
        
              <div class="testimony" style="background-color:wheat;">
                <blockquote style="padding: 10px;">
                  <i class="fa fa-eye" style="font-size:48px;"></i>
                  <h2>Vision</h2>
                  <p>* To provide all kind of medicines be it Allopathic, Herbal,  Ayurvedic, Cosmetics to all
                    under one roof and to provide affordable medicines to all.</p>
                 <p>* Our collaborated plant are certified by Drug authorities with GMP certifications of 
                   Schedule "m" & WHO-GMP Norms & ISO 9001 2015.</p>
                </blockquote>

               
              </div>
        
              <div class="testimony" style="background-color: #ffb3b3">
                <blockquote style="padding: 10px;"> 
                  <i class="fa fa-shopping-bag" aria-hidden="true" style="font-size:48px;"></i>
                  <h2>Business</h2>
                  <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                    unde.&rdquo;</p>
                </blockquote>
              
                
              </div>
        
              <div class="testimony" style="background-color:wheat;">
                <blockquote style="padding: 10px;">
                  <i class='fas fa-hand-sparkles' style='font-size:48px;'></i>
                  <h2>Values</h2>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Respect for people</p>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Ethics</p>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Respect for standards</p>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Results-oriented</p>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Focused on quality</p>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Entrepreneurship</p>
                  <p><i class="fa fa-hand-o-right" style="font-size:24px"></i>Social Responsibility</p>
                </blockquote>
              
               
              </div>
        
              <div class="testimony" style="background-color:#ffb3b3">
                <blockquote style="padding: 10px;"> 
                  <i class="fa fa-rocket" style="font-size:48px;"></i>
                  <h2>Mission</h2>
                  <p> Our mission is to uphold our social responsibility by improving the quality of human life by 
                    providing quality products of WHO-GMP standards and ensuring premier health care for the 
                    society.</p>
                  <p>We are a forerunner in the fast emerging and ever growing pharmaceutical market. We believes 
                    that complete customer satisfaction is the key to increase clientele and expand business..
                    Prompt responsiveness and acceptance of audit compliance is our strength.. Passion to excel in
                     technology, competency, resources and services,</p>
                  <p>We have well planned infrastructure with dedicated blocks and uniflow man & material movements. 
                    We have well defined departments wherein competent professionals are on the board.</p>
                 
                  
                </blockquote>
              
                
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-secondary bg-image" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
              <div class="banner-1-inner align-self-center">
                <h2>Rizochem international Products</h2>
                <p>Contribute to the enrichment of quality of life around the world through the creation of
                  innovative pharmaceutical products, and through the provision of pharmaceuticals addressing 
                  diverse medical needs.
                </p>
                <p>Not just better healthcare, but a better healthcare experience...</p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>Rizochem International has collaboration with only those manufacturing units which are based upon state of art manufacturing technologies approved 
                  by WHO-GMP, ISO and other various authority..
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer" style="background-color:black;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>Rizochem is one of the Fastest growing Pharma company in India. Our core strength lies in our ability to excel 
                in developing over-the-counter and technologically complex medicines, at very low costs and without compromising on quality.</p>
            </div>
            

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="pages/ayurvedic">Ayurvedic Medicines</a></li>
              <li><a href="pages/allopathic">Allopathic Medicines</a></li>
              <li><a href="pages/surgicals">Surgicals</a></li>
              <li><a href="pages/disposals">Disposables</a></li>
            </ul>
          </div>


          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">www.rizocheminternational.in</li>
                <li class="phone">+91 9634771940, +91 7922002822</li>
                <li class="email">rizocheminternational@gmail.com</li>
              </ul>
      
            </div>


          </div>
        </div>
        

        </div>
      </div>
    </footer>
  </div>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>